<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="nav">
    <div class="jumbotron text-center" style="margin-bottom:0">
        <h1>My Page</h1>
    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">

            <ul class="navbar-nav" th:if="${principal}==anonymousUser">
                <!--            <c:when test="${empty principal}">-->
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/auth/login}"
                       href="/auth/login">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/auth/join}"
                       href="/auth/join">회원가입</a>
                </li>
            </ul>

            <ul class="navbar-nav" th:unless="${principal}==anonymousUser">
                <li class="nav-item dropdown">
                <li class="nav-item">
                    <a class="nav-link" href="/cfr">연예인 얼굴</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/board">글쓰기</a>
                </li>
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" th:text="${principal.users.username}">
                    hello
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user/detail">회원 정보</a>
                    <a class="dropdown-item" href="/cfr/${principal.users.id}">cfr 리스트</a>
                    <a class="dropdown-item" href="/logout">로그아웃</a>
                </div>
                </li>
            </ul>
        </div>
    </nav>
</th:block>


<!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">-->
<!--  <a class="navbar-brand" href="/">HOME</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--    <ul class="navbar-nav">-->
<!--        <c:choose>-->
<!--            <c:when test="${empty principal}">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/auth/login">로그인</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="/auth/join">회원가입</a>-->
<!--                </li>-->
<!--            </c:when>-->
<!--            <c:otherwise>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/cfr">연예인 얼굴</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="/board">글쓰기</a>-->
<!--                    </li>-->
<!--                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">-->
<!--                    ${principal.users.username}-->
<!--                  </a>-->
<!--                  <div class="dropdown-menu">-->
<!--                    <a class="dropdown-item" href="/user/detail">회원 정보</a>-->
<!--                    <a class="dropdown-item" href="/cfr/${principal.users.id}">cfr 리스트</a>-->
<!--                    <a class="dropdown-item" href="/logout">로그아웃</a>-->
<!--                  </div>-->
<!--                </li>-->
<!--            </c:otherwise>-->
<!--        </c:choose>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->
</html>