<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: header(~{::title})}">
    <title>CFR List</title>
</head>
<body th:with="principal=${#authentication.principal}">

<th:block th:replace="~{layout/nav :: nav}"/>

<div style="height:1000px;margin:15px;">
    <input type="hidden" id="id" th:value="${principal.users.id}" />
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="imageInput" accept="image/jpeg, image/png" onchange="handleImageUpload(event)" required/>
        <button type="button" id="btn-cfrRequest">제출</button>
    </form>
    <img id="preview" />
</div>

<th:block th:replace="~{layout/footer :: footer}"/>

<script src="/js/cfr.js"></script>
<script src="/js/board.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.1/dist/browser-image-compression.js"></script>

</body>
</html>